
*.suo
*.user

/.vs
/packages

/Entitybank/obj
/Entitybank/bin

/Entitybank.Services/obj
/Entitybank.Services/bin

/Entitybank.WebApi/bin
/Entitybank.WebApi/obj

/Entitybank.MySQL/obj
/Entitybank.MySQL/bin

/Entitybank.Oracle/obj
/Entitybank.Oracle/bin

/Entitybank.Json
/Entitybank.Json/Entitybank.Json/obj
/Entitybank.Json/Entitybank.Json/bin
