
*.suo
*.user

/.vs
/packages

/Entitybase/obj
/Entitybase/bin
/Entitybase/*.nupkg
/Entitybase/Entitybase.nuspec
/Entitybase/nuget.exe

/Entitybase.Services/obj
/Entitybase.Services/bin

/Entitybase.WebApi/bin
/Entitybase.WebApi/obj

/Entitybase.MySQL/obj
/Entitybase.MySQL/bin

/Entitybase.Oracle/obj
/Entitybase.Oracle/bin

/Entitybase.Json
/Entitybase.Json/Entitybase.Json/obj
/Entitybase.Json/Entitybase.Json/bin

