<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <delta key1="1">

    <!--<add>

    </add>

    <remove>

    </remove>

    <replace>

    </replace>

    <rename>


    </rename>-->

  </delta>

  <delta key2="2">

  </delta>

  <delta key1="1" key2="2">

  </delta>

</configuration>