<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--default XData.Data.Objects.SqlDatabase,Entitybank-->
  <database type="XData.Data.DataObjects.SqlDatabase,Entitybank">
    <!--<connectionStringName type="System.String" value="SQL" />-->
  </database>

  <!--default XData.Data.Schema.SqlSchemaProvider,Entitybank-->
  <dbSchemaProvider type="XData.Data.Schema.SqlSchemaProvider,Entitybank">
    <!--<connectionStringName type="System.String" value="SQL" />-->
  </dbSchemaProvider>

  <!--Oracle-->
  <!--<dbSchemaProvider type="XData.Data.Schema.OracleSchemaProvider,Entitybank.Oracle">
    -->
  <!--<connectionStringName type="System.String" value="Oracle" />-->
  <!--
  </dbSchemaProvider>-->

  <!--MySQL-->
  <!--<dbSchemaProvider type="XData.Data.Schema.MySqlSchemaProvider,Entitybank.MySql">
    -->
  <!--<connectionStringName type="System.String" value="MySQL" />-->
  <!--
  </dbSchemaProvider>-->

  <!--default XData.Data.Schema.DbSchemaReviser,Entitybank-->
  <dbSchemaReviser type="XData.Data.Schema.SequenceDbSchemaReviser,Entitybank">
    <format type="System.String" value="Sequence-{0}" />
  </dbSchemaReviser>

  <!-- Oracle
    <dbSchemaReviser type="XData.Data.Schema.SequenceDbSchemaReviser,Entitybank">
      <format type="System.String" value="{0}_SEQ" />
    </dbSchemaReviser>-->

  <!--default XData.Data.Schema.PrefixSuffixMapper,Entitybank-->
  <mapper type="XData.Data.Schema.ConfigPluralMapper,Entitybank">
    <fileName type="System.String" value="entitybank/sql/mapping.config" />
  </mapper>

  <!--default XData.Data.Schema.SchemaReviser,Entitybank-->
  <schemaReviser type="XData.Data.Schema.ConfigSchemaReviser,Entitybank">
    <fileName type="System.String" value="entitybank/sql/revise.config" />
  </schemaReviser>

</configuration>
