<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!--default XData.Data.Objects.SqlDatabase,Entitybase-->
  <database type="XData.Data.DataObjects.SqlDatabase,Entitybase">
    <!--<connectionStringName type="System.String" value="SQL" />-->
  </database>

  <!--default XData.Data.Schema.SqlSchemaProvider,Entitybase-->
  <dbSchemaProvider type="XData.Data.Schema.SqlSchemaProvider,Entitybase">
    <!--<connectionStringName type="System.String" value="SQL" />-->
  </dbSchemaProvider>

  <!--Oracle-->
  <!--<dbSchemaProvider type="XData.Data.Schema.OracleSchemaProvider,Entitybase.Oracle">
    -->
  <!--<connectionStringName type="System.String" value="Oracle" />-->
  <!--
  </dbSchemaProvider>-->

  <!--MySQL-->
  <!--<dbSchemaProvider type="XData.Data.Schema.MySqlSchemaProvider,Entitybase.MySql">
    -->
  <!--<connectionStringName type="System.String" value="MySQL" />-->
  <!--
  </dbSchemaProvider>-->

  <!--default XData.Data.Schema.DbSchemaReviser,Entitybase-->
  <dbSchemaReviser type="XData.Data.Schema.SequenceDbSchemaReviser,Entitybase">
    <format type="System.String" value="Sequence-{0}" />
  </dbSchemaReviser>

  <!-- Oracle
    <dbSchemaReviser type="XData.Data.Schema.SequenceDbSchemaReviser,Entitybase">
      <format type="System.String" value="{0}_SEQ" />
    </dbSchemaReviser>-->

  <!--default XData.Data.Schema.PrefixSuffixMapper,Entitybase-->
  <mapper type="XData.Data.Schema.ConfigPluralMapper,Entitybase">
    <fileName type="System.String" value="entitybase/sql/mapping.config" />
  </mapper>

  <!--default XData.Data.Schema.SchemaReviser,Entitybase-->
  <schemaReviser type="XData.Data.Schema.ConfigSchemaReviser,Entitybase">
    <fileName type="System.String" value="entitybase/sql/revise.config" />
  </schemaReviser>

</configuration>
